<!-- Partials are files that contain content that can be refereced as a variable in other .ejs files.
     Their content is filled from this file and inserted where they are referenced. This allows for
     repetitve content to be written once and then reused throughout the project.
-->
<nav>
    <div class="site-title">
        <a href="/"><h1>A Basic Blog</h1></a>
        <p><a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">A Net Ninja site</a></p>
    </div>
    <ul>
        <li><a href="/">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts/create">New Post</a></li>
    </ul>
</nav>