<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Justo donec enim diam vulputate ut pharetra. Ut lectus arcu bibendum at varius vel. Egestas dui id ornare arcu odio ut sem nulla. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Venenatis cras sed felis eget velit aliquet sagittis id. Tellus in hac habitasse platea. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Sed arcu non odio euismod lacinia. Elementum sagittis vitae et leo duis ut diam quam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Justo donec enim diam vulputate ut pharetra. Ut lectus arcu bibendum at varius vel. Egestas dui id ornare arcu odio ut sem nulla. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Venenatis cras sed felis eget velit aliquet sagittis id. Tellus in hac habitasse platea. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Sed arcu non odio euismod lacinia. Elementum sagittis vitae et leo duis ut diam quam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Justo donec enim diam vulputate ut pharetra. Ut lectus arcu bibendum at varius vel. Egestas dui id ornare arcu odio ut sem nulla. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Venenatis cras sed felis eget velit aliquet sagittis id. Tellus in hac habitasse platea. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Sed arcu non odio euismod lacinia. Elementum sagittis vitae et leo duis ut diam quam.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>